{% extends 'base.html' %}

{% block content %}
   <h1 class="text-center">Report Details</h1>
    <form class="col-lg-6 offset-lg-3" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="name"><b>Name:</b> {{ report.name }}</label>
        </div>
        <div class="form-group">
            <label for="category"><b>Category:</b> {{ report.category }}</label>

        </div>
        <div class="form-group">
            <label for="short_description"><b>Short description:</b> {{ report.short_description }}</label>
        </div>
        <div class="form-group">
            <label for="description"><b>Description:</b> {{ report.description }}</label>
        </div>
        <div class="form-group">
            <label for="added_by"><b>Added by:</b> {{ report.added_by }} </label>
        </div>
            <div class="buttons-container">
                {% if user == report.added_by or user.is_superuser %}
                <a class="btn btn-primary mt-0" href="{% url 'edit report' report.id %}">Edit</a>
                <a class="btn btn-outline-danger" href="{% url 'delete report' report.id %}">Delete</a>
                {% endif %}
                <a class="btn btn-outline-info" href="{{ report.report_url }}">External URL</a>
                <a class="btn btn-outline-success" href="{{ report.file.url }}">Download</a>
            </div>
    </form>
{% endblock %}